[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
motor = {extras = ["srv"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
icecream = "*"
python-dotenv = "*"
bson = "*"
pydantic = {extras = ["email"], version = "*"}
openai = "*"
numpy = "*"
bcrypt = "==3.2.2"
fastapi-profiler = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
